#otp-modal .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #3b3a3a;
    background-clip: padding-box;
    border: 1px solid rgb(223 211 211 / 20%);
    border-radius: 0.3rem;
    outline: 0;
}
#otp-modal .h4
{
    line-height: 1.5;
        font-weight: 400;
        font-family: "Lato", Arial, sans-serif;
        color: white;
    }